.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blog_list, .accoudian, .checklist {
	width: 800px;
	margin: 0 auto;
}
.item_wrapper {
	border: 1px #000 solid;
	margin: 10px 0;
  padding: 15px;
}
.title {
	font-size: 22px;
}
.author {
	font-size: 12px;
}

.desc {
	padding-top: 15px;
	font-size: 16px;
	color: #c1c1c1;
}

.image_slider div {
  display: none;
}

.image_slider div.active {
  display: block;
}

.checkbox {
  display: block;
}